{% extends 'layout-main.html' %}

{% block title %}Cursos{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles-courses.css')}}">
<div class="courses">

    <div class="course"></div>
    <div class="course"></div>
    <div class="course"></div>
    <div class="course"></div>
    <div class="course"></div>
    <div class="course"></div>
    <div class="course"></div>
    <div class="course"></div>
    <div class="course"></div>
    
</div>

{% endblock %}